.prev-arrow {
  position: absolute;
  top: 50%;
  left: -30px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #fff;
  transform: translateY(-50%);
  cursor: pointer;
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: -30px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #fff;
  transform: translateY(-50%);
  cursor: pointer;
}
